nav
    display: flex 
    justify-content: space-around 
    align-items: center
    background-color: $gris
    color: white
    position: fixed
    width: 100vw
    padding: 5vh 0
    z-index: 9999 
    opacity: 0.9
    .menu
       display: flex 
       justify-content: space-between
       gap: 3vw
    

    .leftside-menu
        font-family: "Satisfy", cursive
        font-weight: 800
        font-style: normal
   
    button
        border-radius: 20px 
        background-color: $orange
        border: none
        padding: 1vh 3vw
        &:hover
            background-color: #ed9511c1
     
    a
      text-decoration: none
      color: white 
      &:hover
        color: $orange